img{
                height: 100%;
                width: 100%;
}
.row{
                height: 500px;
                display: flex;
                margin-top: 10px;
                gap: 10px;
               
}
.row-1{
                display: flex;
                gap: 10px;
                margin-top: 10px;
                
}
.row-2 img{
                height: 50%;

}
.row-1 > div {
                flex: 1;
}
.square-collage{
                display:grid ;
                grid-template-columns: repeat(2,1fr);
                gap: 5px;

}
.square-collage img{
                height: 50%;

}